문제 1번

In [6]:
number = 12195269
strnumber = str(number)

print("number 변수의 데이터형은 "+str(type(number))+"입니다")
print("number 변수를 문자열로 바꾼 데이터형은 "+str(type(strnumber))+"입니다")

number 변수의 데이터형은 <class 'int'>입니다
number 변수를 문자열로 바꾼 데이터형은 <class 'str'>입니다

문제 2번

In [9]:
# 2번
py = 3.14
number = int(input("원의 지름을 입력하세요 : "))
print("원의 지름을 입력하세요 :"+str(number))
S = 2*py*(number/2)

print("원의 넓이는 아래와 같습니다 : ")
print(S)

원의 지름을 입력하세요 :4
원의 넓이는 아래와 같습니다 :
12.56

문제 3번

In [10]:
# 3번

var1 = 5320
min = int(var1)//60
sec = 5320%60

print(str(var1) +"초는 "+str(min)+"분 "+ str(sec) +"초입니다")

5320초는 88분 40초입니다

문제 4번

In [11]:
#4번

var1 = 5320
hour = int(var1)//3600
min = (5320 - (3600*hour))//60
sec = (5320 - (3600*hour))%60

print(str(var1)+"초는 "+str(hour)+"시간 "+str(min)+"분 "+str(sec)+"초입니다")

5320초는 1시간 28분 40초입니다

문제 5번

In [14]:
# 5번
import math

x1 = int(input("첫번째 점의 x 좌표값 x1을 입력하세요 :"))
y1 = int(input("첫번째 점의 y 좌표값 y1 값을 입력하세요 :"))
x2 = int(input("두번째 점의 x 좌표값 x2 값을 입력하세요 :"))
y2 = int(input("두번째 점의 y 좌표값 y2 값을 입력하세요 :"))

result = ((x1 - x2)**2 + (y1 - y2)**2)
final = int(math.sqrt(result))

print("첫번째 점의 x 좌표값 x1을 입력하세요 :"+str(x1))
print("첫번째 점의 y 좌표값 y1 값을 입력하세요 :"+str(y1))
print("두번째 점의 x 좌표값 x2 값을 입력하세요 :"+str(x2))
print("두번째 점의 y 좌표값 y2 값을 입력하세요 :"+str(y2))
print("두 점 사이 거리는"+ str(final)+"입니다")

첫번째 점의 x 좌표값 x1을 입력하세요 :4
첫번째 점의 y 좌표값 y1 값을 입력하세요 :0
두번째 점의 x 좌표값 x2 값을 입력하세요 :6
두번째 점의 y 좌표값 y2 값을 입력하세요 :6
두 점 사이 거리는6입니다

문제 6번

In [15]:
# 6번

ft = 0.3048

ari = 5.6 * ft
batt = 5.8 * ft
chally = 6.2 * ft
dicky = 5.2 * ft

print("A= "+ str(ari))
print("B= "+ str(batt))
print("C= "+ str(chally))
print("D= "+ str(dicky))
print("Mean= " + str((ari + batt + chally + dicky)/4))

A= 1.70688
B= 1.76784
C= 1.88976
D= 1.5849600000000001
Mean= 1.7373600000000002